@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #c4fff9;
}

a {
  @apply text-blue-600 hover:text-blue-800;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5  block   rounded-lg border border-gray-200  shadow-md;
  background-color: white;
}

.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400  active:bg-amber-500;
}
.default-button {
  @apply rounded bg-gray-100 py-2  px-4 text-black shadow outline-none hover:bg-gray-200  active:bg-gray-300;
}

input,
select,
textarea {
  @apply rounded border p-2  outline-none ring-indigo-300  focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}

.paypal {
  @apply fill-transparent;
}

.button-28 {
  appearance: none;
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: rgb(50, 50, 146);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
.icon_cart {
  margin-right: 5px;
}
.icon_user {
  margin-left: 5px;
}

.product_name {
  font-size: xx-large;
  color: #3b3b3b;
  font-weight: 500;
  text-align: center;
}

.category_name {
  margin-top: 5px;
  font-size: large;
}
.brand_name {
  margin-top: 5px;
  font-size: large;
}

.description_product {
  margin-top: 5px;
  font-size: large;
  height: 100%;
}

.card_product_details {
  @apply mb-5  block   rounded-lg border border-gray-200  shadow-md;
  background-color: white;
  padding: 5%;
}

.checkoutWizHeading {
  font-size: x-large;
  color: #3b3b3b;
  font-weight: 500;
}

.sadbox {
  width: 400px;
  height: 400px;
}

.admin_yes {
  border: solid black 2px;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(47, 255, 50);
}

.admin_no {
  border: solid black 2px;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(255, 63, 63);
}

.one {
  color: #000;
}
.one:hover {
  color: #c4fff9;
}
.two {
  color: #000;
}
.two:hover {
  color: #c4fff9;
}
.thr {
  color: #000;
}
.thr:hover {
  color: #c4fff9;
}
.for {
  color: #000;
}
.for:hover {
  color: #c4fff9;
}
.fiv {
  color: #000;
}
.fiv:hover {
  color: #c4fff9;
}
.six {
  color: #000;
}
.six:hover {
  color: #c4fff9;
}

.transitionall {
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.logo {
  font-size: x-large;
}
